*{
    box-sizing: border-box;
}
body{
    font-size: 2 rem;
    background-color: rgb(99, 56, 25);
}
h1{
    font-family:'Lobster Two', 'Cursive';
    font-size:3.5rem;
    margin-bottom: 30px;
    text-align: center;
    color:rgb(56, 14, 21);
  }
  h3{
      text-align:center;
      font-weight: 3rem;
      margin:50px;
    font-size: 2.5rem;
  }
  i{
      color:forestgreen;
      display: inline;
      
  }
  img{
    display: block;
    height: 300px;
    margin: 0 auto;
  }
  .spanish ul{
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right:10vw;

  }
  .hidden {
      display: none;
  }
  ul{
      list-style-type: none;
      right:80vh;
      font-size: 2rem;
      text-align: center;
  }
  li{
      border: 2px solid gold;
      border-style: groove;
      border-radius:10px;
      padding:10px;
      margin:10px;
      


  }
  li:hover{
      background-color: rgb(119, 28, 43);
      cursor: no-drop;
  }
  .Requests img{
      width:80vh;
      position: absolute;
      top:0;
      left:0;

  }